* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

h2 {
    margin: 20px;
}


nav {
    background: black;
    display: flex;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 15px 25px;
    font-size: 14px;
}


.menu1 a {
    background: black;
}

.menu2 a:hover {
    background: red;
}


.menu3 a {
    border: 1px solid transparent;
}

.menu3 a:hover {
    background: red;
    border: 1px solid white;
}


.menu4 a.active {
    background: lightgreen;
    color: black;
}

.menu4 a:hover {
    background: gray;
}


.menu5 a.active {
    background: lightgreen;
    color: black;
}

.menu5 a:hover {
    background: gray;
}


@media (max-width: 600px) {
    .menu5 {
        flex-direction: column;
    }

    .menu5 a {
        border-bottom: 1px solid white;
        text-align: center;
    }
}
