* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #d9e1e8;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.header {
    width: 100%;
    height: 60px;
    border: 2px solid black;
    margin-bottom: 10px;
    background-color: #cf8018;
    text-align: center;
    line-height: 60px;
}

.sidebar {
    width: 20%;
    height: 400px;
    border: 2px solid black;
    float: left;
    background-color: #25a3da;
    text-align: center;
    line-height: 400px;
}

.navbar {
    width: 78%;
    height: 60px;
    border: 2px solid black;
    float: right;
    margin-bottom: 10px;
    background-color: #7dee14;
    text-align: center;
    line-height: 60px;
}

.column1 {
    width: 38%;
    height: 330px;
    border: 2px solid black;
    float: right;
    margin-right: 2%;
    background-color: #460ad4;
    text-align: center;
    line-height: 330px;
}

.column2 {
    width: 38%;
    height: 330px;
    border: 2px solid black;
    float: right;
    background-color: #0eaff5;
    text-align: center;
    line-height: 330px;
}


.footer {
    clear: both;
    width: 100%;
    height: 50px;
    border: 2px solid black;
    margin-top: 10px;
    background-color: #10a3e2;
    text-align: center;
    line-height: 50px;
}
