<!DOCTYPE html>
<html>
<head>
    <title>Decode Secret Message</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">

    <h1>Decode Hidden Message</h1>

    <form action="/decode" method="POST" enctype="multipart/form-data">

        <label>Upload Encoded Image:</label>
        <input type="file" name="image" required>

        <button type="submit">Decode Message</button>

    </form>

    <br>

    <a href="/">
        <button>Back to Home</button>
    </a>

</div>

</body>
</html>